/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: #333;
  font-size: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.food_table_container {
  width: 80%;
  padding: 0 1rem 2rem 1rem;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
}

.food_table_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new_food_form_wrapper {
  width: 40%;
  padding: 1rem;
  margin: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
}

.food_table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;
}

.food_table thead tr {
  background-color: #ffca7a;
  color: green;
  text-align: left;
  font-weight: bold;
}

.food_table th,
.food_table td {
  padding: 12px 15px;
}

.added_food_details_table thead tr {
  background-color: transparent;
  color: #45a049;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #33333342;
}

.food_table tbody tr {
  border-bottom: 1px solid white;
}

/* .food_table tbody tr:nth-of-type(even) {
  background-color: white;
} */

.food_table tbody tr:last-of-type {
  border-bottom: 2px solid green;
}

.input_container {
  width: 70%;
}

.input_container::placeholder {
  color: green;
}

.add_food_input {
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 0.5rem;
}

input::placeholder {
  color: #ccc;
  font-weight: 500;
  font-size: 10px;
}

.header_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  align-self: flex-end;
  text-align: center;
  font-size: 16px;
  color: #333;
  text-decoration: underline;
}

.links:hover {
  color: #45a049;
}

.added_food_details_table_container {
  width: 50%;
  padding: 1rem;
  margin: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
}

.added_food_details_table {
  margin: 2rem 0;
  border-collapse: collapse;
  font-size: 16px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.added_food_details_table th,
.added_food_details_table td {
  padding: 10px 22px;
}

.added_food_details_buttons_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.editing_food_container {
  width: 100%;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container .field {
  margin-bottom: 15px;
}

.form-container label {
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container .actions {
  text-align: center;
}

.form-field input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container .actions input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.form-container .actions input[type="submit"]:hover {
  background-color: #45a049;
}

.form-container .error-messages {
  color: #f00;
  margin-bottom: 15px;
}

.form-container .error-messages ul {
  list-style-type: none;
  padding: 0;
}

.form-container .error-messages ul li {
  margin-bottom: 5px;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Navbar brand */
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

/* Navbar items */
.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .nav-link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  background-color: #eee;
}

/* Sign-in/sign-out button */
.btn-small,
.delete_button {
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.delete_button:hover {
  color: white;
  background-color: red;
}

.notice {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Alert */
.alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.recipe-container {
  border: solid 2px #171616;
  padding: 30px;
  margin: auto;
  width: 70%;
  display: flex;
  gap: 100px;
  justify-items: center;
  align-items: center;
  margin-bottom: 10px;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  color: #333;
}

.recipe-description {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

/* Add desired styles to the table */
.table {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border-collapse: collapse;
}

/* Add styles to the table header */
.table thead {
  background-color: #f5f5f5;
}

/* Add styles to the table cells */
.table th,
.table td {
  padding: 8px;
  text-align: left;
}

/* Add alternating background colors to table rows */
.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Add hover effect to table rows */
.table tbody tr:hover {
  background-color: #e9ecef;
}

/* Add styles to the "Actions" column */
.table td:last-child {
  width: 100px;
  text-align: center;
}

/* Style the recipe name */
.recipe-name {
  font-size: 24px;
  font-weight: bold;
}

/* Style the recipe details container */
.recipe-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

/* Style the left container within the recipe details */
.recipe-details > div:first-child {
  width: 60%;
}

/* Style the right container within the recipe details */
.recipe-details > div:last-child {
  width: 40%;
}

/* Style the buttons container */
.recipe-details-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the "Add Ingredient" button */
.recipe-details-btns a.btn {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
}

/* Style the "Back to recipes" link */
.recipe-details-btns a {
  color: #007bff;
  text-decoration: none;
}

/* Style the buttons within the right container */
.recipe-details div:last-child button {
  margin-top: 10px;
}

/* Style the paragraphs within the recipe details */
.recipe-details p {
  margin: 0;
  margin-bottom: 10px;
}

.details-container {
  width: 80%;
  margin: auto;
}

/* Style the error message */
.error-message {
  color: red;
  margin-bottom: 10px;
}

/* Style the form fields */
.form-field {
  margin-bottom: 20px;
}

/* Style the form labels */
.form-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style the form inputs and text areas */
.form-field input[type="text"],
.form-field input[type="number"],
.form-field textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-field input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

.recipe-form-container {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

/* Style the form labels */
.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style the form select dropdown */
.form-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the form number field */
.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the form submit button */
.form-submit {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.ingredient-container {
  padding: 30px;
  margin: auto;
  width: 70%;
  display: flex;
  gap: 100px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-bottom: 10px;
}
